{% extends 'base.html' %}

{% block title %}Документы СНТ{% endblock %}
{% block seo_description %}{% endblock %}

{% block main-block-title %}Документы СНТ{% endblock %}

{% block content %}
    <ul class="list list--links">
        <li class="list_item">
            <a href="{% url 'regulations' %}" class="list_item_link">
                Устав СНТ
            </a>
        </li>
        <li class="list_item">
            <a href="{% url 'provisions' %}" class="list_item_link">
                Положения
            </a>
        </li>
        <li class="list_item">
            <a href="{% url 'meeting' %}" class="list_item_link">
                Протоколы общих собраний
            </a>
        </li>
        <li class="list_item">
            <a href="{% url 'government' %}" class="list_item_link">
                Протоколы заседаний правления
            </a>
        </li>
    </ul>
{% endblock %}